<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/js/home.js"></script>
    <title>[HOST]</title>
</head>
<center>
<body>

<p>Title: <%= title %> </p>
<p>Description: <%= desc %> </p>
<p>Code: <%= code %></p>
<a href="/host?code=<%= code %>&id=<%= id %>&user=<%= user %>">start</a>


</body>
</center>
</html>